*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(59, 22, 223), rgb(155, 141, 221));
}

img{
    text-align: center;
    position: relative;
    width: 90%;
    height: auto;
}

.clock{    
    margin: 10px 10px; 
    position: relative; 
    width: 400px;
    height: 400px;
    background: rgb(171, 159, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}

.clock::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: red;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px black,
    0 0 0 3px white,
    0 0 5px rgba(0, 0, 0, 0.15);
}

.clock .numbers{
    position: absolute;
    inset: 35px;
    background: rgb(59, 22, 223);
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgb(59, 22, 223);
    inset: 5px 5px 5px rgba(255, 255, 255, 0.55),
    -6px -6px 10px rgba(255, 255, 255, 1);
}

.clock .numbers span{
    position: absolute;
    inset: 5px;
    text-align: center;
    color: white;
    font-size: 1.25em;
    transform: rotate(calc(90deg * var(--i)));
}

.clock .numbers span b{
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
}

.clock .numbers::before{
    content: "";
    position: absolute;
    inset: 35px;
    background: linear-gradient(blue, red);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.clock .numbers .circle{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.clock .numbers .circle i{
    position: absolute;
    width: 3px;
    height: 50%;
    background: white;
    transform-origin: bottom;
    transform: scaleY(0.55);
}

.clock .numbers .circle#hr i{
    transform: scaleY(0.3);
    width: 4px;
}

.clock .numbers .circle#mn i{
    transform: scaleY(0.45);
}

.clock .numbers .circle#sc i{
    transform: scaleY(0.55);
    width: 2px;
    background: black;
    box-shadow: 0 30px 0 black;
}

.copyright{
    font-size: 15px;
    color: black;
    padding: 20px;
    text-align: center;
    justify-content: center;
    position: relative;
}